In [10]:
#Imports
import pandas as pd
import functions as func
import yaml
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

db_locations = func.import_yaml()

#load df
df_1 = pd.read_csv(db_locations['data_clean']['user_data'])
df_2 = pd.read_csv(db_locations['data_clean']['user_logs'])

In [11]:
df_1

,Unnamed: 0,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,0,836976,6.0,73.0,60.5,U,2.0,45.0,6.0,9.0,Test
1,1,2304905,7.0,94.0,58.0,U,2.0,111.0,6.0,9.0,Control
2,2,1439522,5.0,64.0,32.0,U,2.0,52.0,6.0,9.0,Test
3,3,1562045,16.0,198.0,49.0,M,2.0,67.0,3.0,6.0,Test
4,4,5126305,12.0,145.0,33.0,F,2.0,104.0,0.0,3.0,Control
...,...,...,...,...,...,...,...,...,...,...,...
50483,50495,1780858,21.0,262.0,68.5,M,3.0,372.0,6.0,9.0,Test
50484,50496,6967120,21.0,260.0,68.5,M,3.0,4280.0,6.0,9.0,Control
50485,50497,5826160,20.0,249.0,56.5,F,2.0,45.0,2.0,5.0,Test
50486,50498,8739285,19.0,229.0,69.5,F,2.0,45.0,1.0,4.0,Test
50487,50499,7468138,18.0,222.0,61.0,F,3.0,209.0,0.0,3.0,Test

In [12]:
df_2

,Unnamed: 0,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,Variation
0,0,836976,6.0,73.0,60.5,U,2.0,45.0,6.0,9.0,Test
1,1,2304905,7.0,94.0,58.0,U,2.0,111.0,6.0,9.0,Control
2,2,1439522,5.0,64.0,32.0,U,2.0,52.0,6.0,9.0,Test
3,3,1562045,16.0,198.0,49.0,M,2.0,67.0,3.0,6.0,Test
4,4,5126305,12.0,145.0,33.0,F,2.0,104.0,0.0,3.0,Control
...,...,...,...,...,...,...,...,...,...,...,...
50483,50495,1780858,21.0,262.0,68.5,M,3.0,372.0,6.0,9.0,Test
50484,50496,6967120,21.0,260.0,68.5,M,3.0,4280.0,6.0,9.0,Control
50485,50497,5826160,20.0,249.0,56.5,F,2.0,45.0,2.0,5.0,Test
50486,50498,8739285,19.0,229.0,69.5,F,2.0,45.0,1.0,4.0,Test
50487,50499,7468138,18.0,222.0,61.0,F,3.0,209.0,0.0,3.0,Test